{% extends "head.html" %}
{% block body %}


<div class="container">

    {{ macros.pageHeader('Billing Admin', 'fa-wrench', url_for('billing_dashboard')) }}
    {{ macros.flasher() }}

    <div class="row">

        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Actions</h2>

                <a href="#" class="btn btn-lg btn-primary btn-block btn-text-left" onclick="showGenerateInvoice()">
                    <i class="fa fa-fw fa-paper-plane-o"></i>
                    Generate Invoices
                </a>
                <p>this will show a dialog where you can select which bills to include and what date to mark the invoice and for whom to generate the invoice</p>
            </div>

            <div class="col-bezel">

                <h2>Settings</h2>
                <div class="bezelInnerContainer">
                    <h3>Invoice Date Reminder</h3>
                    <p>Date for due date reminders. You must still manually generate the invoice after confirming all
                    charges are entered.</p>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="col-bezel">
                <h2>People</h2>

                <div class="bezelInnerContainer">
                    <h3>Alex</h3>

                    <p>
                        <strong>Rent:</strong> $475
                    </p>


                    <p>
                        <a href="#" class="btn btn-default">Invoices</a>
                    </p>

                </div>

            </div>


            <div class="col-bezel">
                <h2>Utilities</h2>

                <div class="row">
                    <div class="col-md-4">
                        Thing
                    </div>
                    <div class="col-md-4">
                        Thing
                    </div>
                    <div class="col-md-4">
                        Thing
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

</div>

{{ macros.modal('generateInvoiceModal', 'billing/admin/_modals/generateInvoice') }}


{% endblock %}*