{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-9">
            <h1>
                <a href="{{ url_for('billing_dashboard') }}" class="btn btn-lg"><i class="fa fa-arrow-left"></i></a>
                <i class="fa fa-thumb-tack"></i>&nbsp;&nbsp;
                Billboard
            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    {{ shared.flasher() }}

    <div class="row">
        <div class="col-md-5">
            <div class="col-bezel">
                <h2>People</h2>

                <div class="bezelInnerContainer">
                    <h3>Alex</h3>

                </div>

            </div>
        </div>

        <div class="col-md-7">
<a href="#" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> </a>
                <a href="#" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> Billsplit</a>

        </div>
    </div>

</div>

{% endblock %}