{% extends "head.html" %}
{% block body %}


<div class="container">

    {{ shared.pageHeader('Billsplit', 'fa-shopping-cart', url_for('billing_dashboard')) }}
    {{ shared.flasher() }}

    {% if session['householdRelation'] == 2 %}
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-lg btn-default btn-block btn-text-left" onclick="showCreateSharedBill()">
                    <i class="fa fa-fw fa-plus"></i> Add Shared Bill
                </a>
            </div>
        </div>
        <br />
    {% endif %}

    <div class="row">
        <div class="col-md-12">

            <div class="col-bezel">
                <h2>Shared Bills</h2>

                <div class="bezelInnerContainer">
                    <h3>Groceries &amp; House Supplies <a href="#" class="btn btn-primary">Cycle Bill</a><a href="#" class="btn btn-danger">Delete</a></h3>

                    <table class="table table-striped" style="table-layout: fixed;">
                        <tr>
                            <th>
                                Bills
                            </th>
                            <th>
                                Split
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="btn btn-block btn-default">Add new Bill</a>
                                {{ shared.billbadge(1) }}
                                {{ shared.billbadge(1) }}
                                {{ shared.billbadge(1) }}
                            </td>
                            <td>
                                {{ shared.userbadge(1) }}
                                {{ shared.userbadge(1) }}
                                {{ shared.userbadge(1) }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{ shared.modal('createSharedBill', 'billing/_modals/createSharedBill') }}

{% endblock %}