{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-9">
            <h1>
                <a href="{{ url_for("dashboard") }}" class="btn btn-lg"><i class="fa fa-arrow-left"></i></a>
                <i class="fa fa-money"></i>&nbsp;&nbsp;
                Billing
            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <!-- Realistically, category will never be blank and we'll never default in 'info'
                 (because the default Flask flash category is 'message'), but it's good style. -->
            {% for category, message in messages %}

                <div class="alert alert-{{ category | default('info') }}" style="margin-top: 1em;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-4">


            <div class="col-bezel">
                <h2>Tools</h2>
                <a href="{{ url_for('billing_admin') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> Admin</a>
                <a href="#" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> Billboard</a>
                <a href="#" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> Billsplit</a>
                <a href="#" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> IOU</a>
            </div>

            <div class="col-bezel">
                <h2>Rent</h2>
                <div class="bezelInnerContainer">
                    <p class="text-center">
                        <span class="highlight-light">
                            $475.00
                        </span>
                    </p>
                </div>
                <p class="text-center">due on the 3rd.</p>
            </div>

            <div class="col-bezel">
                <h2>Utilities</h2>
                <div class="bezelInnerContainer">
                    <p class="text-center">
                        <span class="highlight-light">
                            $126.13
                        </span>
                    </p>
                </div>
                <p class="text-center">on average.</p>
            </div>

            <div class="col-bezel">
                <h2>Shared Bills</h2>
                <div class="bezelInnerContainer">
                    <p class="text-center">
                        <span class="highlight-light">
                            -$15.40
                        </span>
                    </p>
                </div>
                <p class="text-center">so far.</p>
            </div>

        </div>



        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Invoices</h2>

                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">
                            $500
                        </span>

                        <h4 class="list-group-item-heading">Due in 3 days.</h4>
                        <p class="list-group-item-text">
                            July 3
                        </p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-success">



                        <span class="badge">
                            $500
                        </span>
                        July 3
                    </a>
                    <a href="#" class="list-group-item list-group-item-success">
                        <span class="badge">
                            $500
                        </span>
                        July 3
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>

    </div>

</div>

{% endblock %}