{% extends "head.html" %}
{% block body %}

<div class="container">

    {{ shared.pageHeader('Utilities', 'fa-tint', url_for('billing_dashboard')) }}
    {{ shared.flasher() }}

    {% if session['householdRelation'] == 2 %}
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-plus"></i> Add Utility</a>
            </div>
        </div>
        <br />
    {% endif %}

    <div class="row">
        <div class="col-md-12">

            <div class="col-bezel">
                <h2>Utilities</h2>

                <div class="row">
                    <div class="col-md-4">
                        Thing
                    </div>
                    <div class="col-md-4">
                        Thing
                    </div>
                    <div class="col-md-4">
                        Thing
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}