@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Bree+Serif);

/******************************************************************************
 * Variables and color scheme                                                 *
 ******************************************************************************/

@white: #EEE;
@gray: #777;
@black: #444;

@master-title: #554444;
@master-copy: @black;
//#@master-background: #dfe8df;
@master-background: #dfdfdf;
@master-flare: #5e5e9e;

@background-light: @master-background;
@background-lighter: lighten(@background-light, 3%);

@background-dark: darken(@black, 3%);
@background-darker: darken(@background-dark, 3%);

@flare: @master-flare;
@flare-light: lighten(@master-flare, 10%);
@flare-dark: darken(@master-flare, 10%);


/******************************************************************************
 * Bootstrap overrides                                                        *
 ******************************************************************************/

.btn-primary {
    background: linear-gradient(@flare, @flare-dark);
    border-color: @flare;
}

    .btn-primary:hover {
        border-color: @flare;
        background: linear-gradient(@flare, @flare);
    }

    .btn-primary:focus {
        background: linear-gradient(@flare, @flare);
    }

    .btn-danger, .btn-danger:visited {
      color: @white;
    }

.btn-text-left {
    text-align: left;
}

.btn-text-right {
    text-align: right;
}

li.list-group-item {
  background-color: @background-lighter;
}

/******************************************************************************
 * Customized elements                                                        *
 ******************************************************************************/

body, .modal {
    background-color: @background-lighter;
}

.modal-content {
    background-color: @white;
}

a, a:hover {
    outline: none;
    text-decoration: none;
}

a, a:visited {
  color: @flare;
}

a.btn-default, a.btn-default:visited {
  color: @black;
}

a.btn-primary {
        color: @white;
    }

p {
    a:hover {
        color: @flare-light;
    }
}



h1, h2, h3, h4, h5, h6 {
    font-family: "Lily Script One", cursive;
    color: @master-title;
}

    h1 {
        font-size: 3em;
    }

p {
    font-family: "Bree Serif", serif;
    font-size: 1.5em;
    color: @master-copy;
}

/******************************************************************************
 * Specific styling                                                           *
 ******************************************************************************/

.copyFont {
    font-family: "Bree Serif", serif;
    font-size: 1.5em;
}

div.bezel {
    background-color: @background-light;
    box-shadow: 0 0.30em 0.15em @gray;
    margin-bottom: 1em;
}

// For divs that give context to a menu button positioned at the top of them.
div.bezelInnerContainer {
  background-color: @background-lighter;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em;

  p {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
  }
}

div.col-bezel {
    background-color: @background-light;
    box-shadow: 0 0.30em 0.60em @gray;
    margin-bottom: 1em;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.15em;
    padding-bottom: 1em;
}

div.col-bezel h1, div.col-bezel h2, div.col-bezel h3, div.col-bezel h4, div.col-bezel h5, div.col-bezel h6 {
    font-weight: 100;
}

/*
 * Some divs shouldn't be tight to the top, give them a bit of headroom.
 */
div.headroom {
    margin-top: 1em;
}

@highlight: {
  font-size: 2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
};

span.highlight-light {
  @highlight();
  color: @flare-light;
}


span.highlight-dark {
  @highlight();
  color: @flare-dark;
}

span.flare-light {
  color: @flare-light;
}

span.flare-dark {
  color: @flare-dark;
}


/*
 * User badge styles.
 */
div.userbadge {
  background-color: @background-lighter;
  box-shadow: 0 0.1em 0.1em @gray;

  position: relative;

  div.userbadge-clear {
    padding-left: 3.5em;
  }


  h3.userbadge-title {
    margin-bottom: 0;
  }

  p.userbadge-actions {
    line-height: 1em;
    padding-bottom: 0.25em;
  }

  img.userbadge-image {
    background-color: @gray;

    position: absolute;
    left: 0;
    top: -0.5em;

    width: 3em;
    height: 3em;

    max-width: 3em;
    max-height: 3em;

    border-radius: 50%;
    border: 2px solid @white;

    box-shadow: 0.1em 0.1em 0.05em @gray;
  }

  /* Buttons are across the bottom. */
  div.userbadge-btn-row {
    width: 100%;

    display: table;
    table-layout: fixed;

    border-top: 2px solid @gray;

    a.btn, a.btn:visited {
      display: table-cell;
      margin: 0;
      border-left: 1px solid @background-darker;
      border-radius: 0;

      background: linear-gradient(@background-darker, @black);

      color: @white;
      font-weight: bold;

      font-size: 1.25em;
      line-height: 1em;

      span.userbadge-btn-explain {
        display: none;
        font-size: 0.75em;
      }
    }

    a.btn:hover {
      background: linear-gradient(@flare-dark, @flare-light);

      span.userbadge-btn-explain {
        display: inline;
      }
    }

    a.btn:first-child {
      border-left: none;
    }
  }
}