@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Bree+Serif);
/******************************************************************************
 * Variables and color scheme                                                 *
 ******************************************************************************/
/* These should be in order of decreasing brightness. */
/******************************************************************************
 * Bootstrap overrides                                                        *
 ******************************************************************************/
.btn-primary {
  background: linear-gradient(#A971FF, #9866E5);
  border-color: #7F55BF;
}
.btn-primary:hover {
  border-color: #7F55BF;
  background: linear-gradient(#9866E5, #A971FF);
}
.btn-primary:focus {
  background: linear-gradient(#A971FF, #9866E5);
}
.btn-text-left {
  text-align: left;
}
.btn-text-right {
  text-align: right;
}
/******************************************************************************
 * Customized elements                                                        *
 ******************************************************************************/
body {
  background-color: #DADADA;
}
a {
  outline: none !important;
}
a,
a:visited {
  color: #4898FF;
}
a:hover {
  color: #70AFFF;
}
a.btn-primary {
  color: #EEE;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lily Script One", cursive;
  color: #A971FF;
}
h1 {
  font-size: 3em;
}
p {
  font-family: "Bree Serif", serif;
  font-size: 1.5em;
  color: #444;
}
/******************************************************************************
 * Specific styling                                                           *
 ******************************************************************************/
.copyFont {
  font-family: "Bree Serif", serif;
  font-size: 1.5em;
}
div.bezel {
  background-color: #EEEEEE;
  box-shadow: 0 0.3em 0.15em #777;
  margin-bottom: 1em;
}
div.col-bezel {
  background-color: #EEEEEE;
  box-shadow: 0 0.3em 0.6em #777;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.15em;
  padding-bottom: 1em;
}
div.col-bezel h1,
div.col-bezel h2,
div.col-bezel h3,
div.col-bezel h4,
div.col-bezel h5,
div.col-bezel h6 {
  font-weight: 100;
}
/*
 * Some divs shouldn't be tight to the top, give them a bit of headroom.
 */
div.headroom {
  margin-top: 1em;
}
