@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Bree+Serif);

/******************************************************************************
 * Variables and color scheme                                                 *
 ******************************************************************************/

:root {
    --backgroundLight: #EEEEEE;
    --backgroundLightDim: #DADADA;
    --backgroundDark: #333333;
    --backgroundDarkDim: #282828;

    /* These should be in order of decreasing brightness. */
    --color1: #A971FF;
    --color2: #9866E5;
    --color3: #7F55BF;
    --color4: #55397F;
    --color5: #2A1C40;
    --dim1: #E0D0FF;
    --dim2: #C9BBE5;
    --dim3: #A89CBF;
    --dim4: #70687F;
    --dim5: #383440;

    --accent1: #70AFFF;
    --accent2: #4898FF;
    --accent3: #1C7EFC;
    --highlight1: #FF7E63;
    --highlight2: #FF5A37;
    --highlight3: #FF3207;

    --white: #EEE;
    --gray: #777;
    --black: #444;
}

/******************************************************************************
 * Bootstrap overrides                                                        *
 ******************************************************************************/

.btn-primary {
    background: linear-gradient(var(--color1), var(--color2));
    border-color: var(--color3);
}

    .btn-primary:hover {
        border-color: var(--color3);
        background: linear-gradient( var(--color2), var(--color1));
    }

    .btn-primary:focus {
        background: linear-gradient(var(--color1), var(--color2));
    }

/******************************************************************************
 * Customized elements                                                        *
 ******************************************************************************/

body {
    background-color: var(--backgroundLightDim);
}

a {
    outline: none !important;
}

    a, a:visited {
        color: var(--accent2);
    }

    a:hover {
        color: var(--accent1);
    }

    a.btn-primary {
        color: var(--white);
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "Lily Script One", cursive;
    color: var(--color1);
}

    h1 {
        font-size: 3em;
    }

p {
    font-family: "Bree Serif", serif;
    font-size: 1.5em;
    color: var(--black);
}

div.bezel {
    background-color: var(--backgroundLight);
    box-shadow: 0 0.30em 0.15em var(--gray);
    margin-bottom: 1em;
}

div.col-bezel {
    background-color: var(--backgroundLight);
    box-shadow: 0 0.30em 0.60em var(--gray);
    margin-bottom: 1em;
    
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.15em;
    padding-bottom: 1em;
}

/******************************************************************************
 * Specific styling                                                           *
 ******************************************************************************/

