@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Bree+Serif);

/**
 * Color scheme and variables.
 **/
:root {
    /* These should be in order of decreasing brightness. */
    --color1: #A971FF;
    --color2: #9866E5;
    --color3: #7F55BF;
    --color4: #55397F;
    --color5: #2A1C40;
    --dim1: #E0D0FF;
    --dim2: #C9BBE5;
    --dim3: #A89CBF;
    --dim4: #70687F;
    --dim5: #383440;

    --accent1: #70AFFF;
    --accent2: #4898FF;
    --accent3: #1C7EFC;
    --highlight1: #FF7E63;
    --highlight2: #FF5A37;
    --highlight3: #FF3207;

    --white: #EEE;
    --black: #444;
}

/**
 * Bootstrap style overrides.
 **/
.jumbotron {
    background-color: var(--dim1);
}

/**
 * Make the footer look like a footer.
 **/
.footer {
    margin-top: 3em;
    margin-bottom: 0em;
    background-color: var(--dim2);
}

/**
 * Tone down the top spacing on the footer...
 **/
.jumbotron.footer {
    padding-top: 1.5em;
}

.footer p {
    font-size: 1.25em;
}


.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    color: var(--black);
    margin-top: 0em;
}


.btn-primary {
    background: linear-gradient(var(--color1), var(--color2));
    border-color: var(--color3);
}

.btn-primary:hover {
    border-color: var(--color3);
    background: linear-gradient( var(--color2), var(--color1));
}

/**
 * Custom styles.
 **/

a, a:visited {
    color: var(--accent2);
}

a:hover {
    color: var(--accent1);
}

a.btn-primary {
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lily Script One", cursive;
    color: var(--color1);
}

h1 {
    font-size: 3em;
}

p {
    font-family: "Bree Serif", serif;
    font-size: 1.5em;
    color: var(--black);
}


/**
 * Floorplan-specific stuff
 **/
#floorplanCanvas {
    background-color: #f9f9f9;
}

#floorplanCanvasContainer {
    width: 100%;
    height: 75vh;
}