/* This file is responsible for generating the master framework CSS file, after overriding any variables with our own
 * variables coming from cutecasa-variables.scss. */

@import "_cutecasa-variables.scss";

/* Map framework variables to CuteCasa variables. */
$family-sans-serif: $cutecasa-font;
$primary: $cutecasa-primary;
$info: $cutecasa-secondary;

@import "../../deps/bulma/bulma.sass";
