{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-9">
            <h1>
                <a href="{{ url_for("dashboard") }}" class="btn btn-lg"><i class="fa fa-arrow-left"></i></a>
                <i class="fa fa-cubes"></i>&nbsp;&nbsp;
                CuteCasa Admin
            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <!-- Realistically, category will never be blank and we'll never default in 'info'
                 (because the default Flask flash category is 'message'), but it's good style. -->
            {% for category, message in messages %}

                <div class="alert alert-{{ category | default('info') }}" style="margin-top: 1em;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Logs</h2>
                <a href="{{ url_for('admin_logviewer', after=0, logname='admin') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> Admin Log</a>
                <a href="{{ url_for('admin_logviewer', after=0, logname='system') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> System Log</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>CuteCasa Settings</h2>
                <a href="{{ url_for('admin_logviewer', after=0, logname='admin') }}" class="btn btn-lg btn-default btn-block btn-text-left disabled"><i class="fa fa-fw fa-cogs"></i> Global Settings</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Other</h2>
                <a href="{{ url_for('admin_styletest') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-paint-brush"></i> Style Test</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}