{% extends "head.html" %}
{% block body %}

<div class="container">

    {{ shared.pageHeader('CuteCasa Admin', 'fa-cubes', url_for('dashboard')) }}
    {{ shared.flasher() }}

    <div class="row">
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Logs</h2>
                <a href="{{ url_for('admin_logviewer', after=0, logname='admin') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> Admin Log</a>
                <a href="{{ url_for('admin_logviewer', after=0, logname='system') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-eye"></i> System Log</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>CuteCasa Settings</h2>
                <a href="{{ url_for('admin_globalSettings') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-cogs"></i> Global Settings</a>
            </div>
            <div class="col-bezel">
                <h2>ZDB Management</h2>
                <a href="{{ url_for('admin_nodeviewer', node='globalSettings') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-code-fork fa-rotate-180"></i> View Global Settings Nodes</a>
                <a href="{{ url_for('admin_nodeviewer', node='households') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-code-fork fa-rotate-180"></i> View Household Nodes</a>
                <a href="{{ url_for('admin_nodeviewer', node='users') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-code-fork fa-rotate-180"></i> View User Nodes</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Other</h2>
                <a href="{{ url_for('admin_styletest') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-fw fa-paint-brush"></i> Style Test</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}