{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-9">
            <h1>
                <a href="{{ url_for("admin_dashboard") }}" class="btn btn-lg"><i class="fa fa-arrow-left"></i></a>
                <i class="fa fa-cubes"></i>&nbsp;&nbsp;
                Logviewer
            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <!-- Realistically, category will never be blank and we'll never default in 'info'
                 (because the default Flask flash category is 'message'), but it's good style. -->
            {% for category, message in messages %}

                <div class="alert alert-{{ category | default('info') }}" style="margin-top: 1em;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-bezel">
                <h2>Events</h2>
                    {% if events %}
                        <ul class="list-group">
                        {% for e in events %}
                            <li class="list-group-item">
<!--                                <span class="label {{ {1: "label-default", 2: "label-warning", 3: "label-danger"}[e.e_admin_log_event_level] | default("") }}"> -->
                                <span class="{{ {1: '', 2: 'accent1', 3: 'highlight1'}[e.e_admin_log_event_level] | default('') }}">
                                    <i class="fa fa-fw {{ {1: 'fa-info', 2: 'fa-bell', 3: 'fa-exclamation'}[e.e_admin_log_event_level] | default('') }}"></i>
                                </span>
                                &nbsp;
                                <strong>
                                    {{ e.message }}
                                </strong>
                                <br />
                                <em>Caused by <strong>{{ getUserDisplayname(e.blame) }}</strong> at <strong>{{ e.timestamp }}</strong></em>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                <!-- TODO: Pagination button to update the url and set after to a higher number. -->
            </div>
        </div>
    </div>

</div>

{% endblock %}