{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-9">
            <h1>
                <a href="{{ url_for("admin_dashboard") }}" class="btn btn-lg"><i class="fa fa-arrow-left"></i></a>
                <i class="fa fa-cubes"></i>&nbsp;&nbsp;
                Logviewer
            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    {%  with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="row" id="informationFlasher">
                <div class="col-md-12">
                    <div class="col-bezel">
                        <h3>Information</h3>
                        {% for m in messages %}
                            <p>{{ m }}</p>
                        {% endfor %}
                        <a href="#" onclick="$('#informationFlasher').remove(); return false;" class="btn btn-default">
                            Close
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-bezel">
                <h2>Events</h2>
                    {% if events %}
                        {% for e in events %}
                            {{ e }}
                        {% endfor %}
                    {% endif %}

                <!-- TODO: Pagination button to update the url and set after to a higher number. -->
            </div>
        </div>
    </div>

</div>

{% endblock %}