{% extends "head.html" %}
{% block body %}


<div class="container">

    {{ shared.pageHeader('ZDB Node Viewer', 'fa-code-fork fa-rotate-180', url_for('admin_dashboard')) }}
    {{ shared.flasher() }}

    <p>TODO: Sometimes you have to refresh to see all the nodes. Not sure why.</p>

    <div class="row">
        <div class="col-md-12">
            <div class="col-bezel">
                <h2>zdb.root.{{ node }}{% if index %}['{{ index }}']{% endif %}</h2>
                {% if index %}
                    <a href="{{ url_for('admin_nodeviewer', node=node, index=None) }}" class="btn btn-default">View Parent</a>
                {% endif %}

                {% if children %}
                    <table class="table table-hover">
                    {% for c in children %}
                        <tr>
                            <td>
                                {{ c[0] }}
                            </td>

                            {% if c[1] %}
                                <td>
                                    {{ c[1] }}
                                </td>
                            {% else %}
                                <td>
                                    <a href="{{ url_for('admin_nodeviewer', node=node, index=c[0] ) }}">View</a>
                                </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}

            </div>
        </div>
    </div>

</div>

{% endblock %}