{% extends "head.html" %}
{% block body %}


<div class="container">

    {{ macros.pageHeader('Style Test', 'fa-paint-brush', url_for('admin_dashboard')) }}
    {{ macros.flasher() }}

    <div class="row">
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Buttons</h2>

                <a href="#" class="btn btn-block">Block button</a>
                <a href="#" class="btn btn-block btn-default">Block default button</a>
                <a href="#" class="btn btn-block btn-primary">Block primary button</a>
                <a href="#" class="btn btn-block btn-success">Block success button</a>
                <a href="#" class="btn btn-block btn-info">Block info button</a>
                <a href="#" class="btn btn-block btn-warning">Block warning button</a>
                <a href="#" class="btn btn-block btn-danger">Block danger button</a>


                <div class="bezelInnerContainer">

                </div>

                <p>Styles go here!</p>
            </div>
        </div>

        <div class="col-md-8">
            <div class="col-bezel">
                <h2>Validators</h2>

                <form>
                    {{ components.input('Large limit integers', 'integerBigInput', 'int') }}

                    {{ components.input('Small limit integers', 'integerSmallInput', 'int', 100, 0) }}

                    {{ components.input('String limit test', 'stringLimitInput', 'string', 50) }}
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}