{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-9">
            <h1>
                <a href="{{ url_for("admin_dashboard") }}" class="btn btn-lg"><i class="fa fa-arrow-left"></i></a>
                <i class="fa fa-paint-brush"></i>&nbsp;&nbsp;
                Style Test
            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    {{ shared.flasher }}

    <div class="row">
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Buttons</h2>

                <a href="#" class="btn btn-block">Block button</a>
                <a href="#" class="btn btn-block btn-default">Block default button</a>
                <a href="#" class="btn btn-block btn-primary">Block primary button</a>
                <a href="#" class="btn btn-block btn-success">Block success button</a>
                <a href="#" class="btn btn-block btn-info">Block info button</a>
                <a href="#" class="btn btn-block btn-warning">Block warning button</a>
                <a href="#" class="btn btn-block btn-danger">Block danger button</a>


                <div class="bezelInnerContainer">

                </div>

                <p>Styles go here!</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}