#!/bin/sh

# Init script to get cutecasa set up for first time use. The init script is destructive (it may reset the database), in
# contrast with the build script.

if [ ! -d config/secret ]
then
    mkdir config/secret
fi

# CuteCasa database paths.
export CUTEWORKS_CUTECASA_SQL_DATABASE="config/secret/cute.db"
export CUTEWORKS_CUTECASA_SQL_SCHEMA="config/schema.sql"

# Salt for user passwords.
export CUTEWORKS_CUTECASA_SALT="random salt"

python3 src/init.py
