#!/bin/sh

# Init script to get cutecasa set up for first time use. The init script is destructive (it may reset the database), in
# contrast with the build script.

if [ ! -d config/secret ]
then
    mkdir config/secret
fi

# Standard Flask variables.
export CUTEWORKS_CUTECASA_DEBUG="False"
export CUTEWORKS_CUTECASA_SECRET_KEY="set a secret development key"
export CUTEWORKS_CUTECASA_PORT="5050"

# CuteCasa database paths.
export CUTEWORKS_CUTECASA_SQL_DATABASE="config/secret/cute.db"
export CUTEWORKS_CUTECASA_OBJECT_DATABASE="config/secret/cute.zdb"

# Salt for user passwords.
export CUTEWORKS_CUTECASA_SALT="random salt"

python3 src/init.py
