{% macro flasher() %}
    <!-- Flasher -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <!-- Realistically, category will never be blank and we'll never default in 'info'
                 (because the default Flask flash category is 'message'), but it's good style. -->
            {% for category, message in messages %}
                <div class="notification is-{{ category | default('info') }}" style="margin-top: 1em;">
                    <a href="#" class="delete" data-dismiss="alert" aria-label="close"></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endmacro %}


{% macro pageHeader(title, icon, backToUrl) %}
    <!--
        The header for the entire page.
        icon is the fa icon to display. If None, no icon is displayed.
        backToUrl is where the user should go if they press the back button. If None, no back button is displayed.
    -->

<div class="row bezel">
        <div class="col-sm-9">
            <h1>
                {% if backToUrl %}
                    <a href="{{ backToUrl }}" class="btn btn-lg"><i class="fa fa-fw fa-arrow-left"></i></a>
                {% endif %}
                {% if icon %}
                    <i class="fa fa-fw {{ icon }}"></i>&nbsp;&nbsp;
                {% endif %}
                {{ title }}
            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                <a href="{{ url_for('logout') }}" class="btn btn-sm"><i class="fa fa-fw fa-sign-out"></i></a>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro modal(modalId, filename) %}
    <!-- A modal dialog that pops up over the content. -->
    <!-- modalId: The id for this modal. -->
    <!-- filename: The name of the html and js file to include. Since modals usually come with async requests, just
                    assume that we'll be needing js.-->

    <div id="{{ modalId }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {% include filename + '.html' %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/' + filename + '.js') }}"></script>

{% endmacro %}

{% macro userbadge(userId, full) %}
    <!-- A small badge for a user, with their picture and display name. -->
    <!-- Full parameter for whether to show the status update or not. -->
    <div class="userbadge">
        <div class="userbadge-clear">
            <img class="userbadge-image" src="http://i.imgur.com/wQ3W10D.jpg" alt="User profile image"
                style="border-color: {{ g.dog.zdb.getUser(userId).favoriteColor }};" />
            <h3 class="userbadge-title">{{ g.dog.zdb.getUser(userId).displayname }}</h3>
            <br />
            <!--<p class="small">Seen 24 minutes ago</p>-->
            <!-- TODO: Activity tracking? -->
        </div>
        {% if full %}
            <p>Hello</p>

            <div class="userbadge-btn-row">
                <a href="#" class="btn btn-sm"><i class="fa fa-fw fa-yc"></i></a><a href="#" class="btn btn-sm"><i class="fa fa-fw fa-mobile"></i></a><a href="#" class="btn btn-sm"></a>
            </div>

        {% endif %}

    </div>

{% endmacro %}

{% macro billbadge(bill) %}
    <!-- Generate a badge for a bill. -->
    <div class="userbadge">
        <div class="userbadge-clear">
            <img class="userbadge-image" src="http://i.imgur.com/wQ3W10D.jpg" alt="User profile image"
                style="border-color: {{ g.dog.zdb.getUser(user).favoriteColor }};" />
            <h3 class="userbadge-title">Copps</h3>
            <br />
            <p class="small">01/13/16 &mdash; Alex paid</p>
        </div>
        <p>$395.0</p>
    </div>
{% endmacro %}