{% macro flasher() %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <!-- Realistically, category will never be blank and we'll never default in 'info'
                 (because the default Flask flash category is 'message'), but it's good style. -->
            {% for category, message in messages %}
                <div class="alert alert-{{ category | default('info') }}" style="margin-top: 1em;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endmacro %}

{% macro userbadge(user) %}
    <!-- A small badge for a user, with their picture and display name. -->
    <div class="userbadge">
        <img class="userbadge-image" src="http://i.imgur.com/wQ3W10D.jpg" alt="User profile image"
                style="border-color: {{ g.dog.zdb.getUser(user).favoriteColor }};" />
        <h3 class="userbadge-title">Alex Kersten</h3>
        <p class="userbadge-actions">
            <a href="#" class="btn btn-xs btn-default">Text</a>
        </p>
    </div>

{% endmacro %}
