{% macro flasher() %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <!-- Realistically, category will never be blank and we'll never default in 'info'
                 (because the default Flask flash category is 'message'), but it's good style. -->
            {% for category, message in messages %}
                <div class="alert alert-{{ category | default('info') }}" style="margin-top: 1em;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endmacro %}

{% macro userbadge(user, full) %}
    <!-- A small badge for a user, with their picture and display name. -->
    <!-- Full parameter for whether to show the status update or not. -->
    <div class="userbadge">
        <div class="userbadge-clear">
            <img class="userbadge-image" src="http://i.imgur.com/wQ3W10D.jpg" alt="User profile image"
                style="border-color: {{ g.dog.zdb.getUser(user).favoriteColor }};" />
            <h3 class="userbadge-title">{{ g.dog.zdb.getUser(user).displayname }}</h3>
            <p class="small">Seen 24 minutes ago</p>
        </div>
        {% if full %}
        <p>My status update</p>
        {% endif %}
        <div class="userbadge-btn-row">
            <a href="#" class="btn btn-sm"><i class="fa fa-fw fa-yc"></i></a><a href="#" class="btn btn-sm"><i class="fa fa-fw fa-mobile"></i></a><a href="#" class="btn btn-sm"></a>


        </div>

    </div>

{% endmacro %}
