{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-9">

            <h1>
                <i class="fa {{ {1: "fa-building", 2: "fa-home"}[session['householdType']] | default("") }}"></i>
                &nbsp;&nbsp;
                {{ session['householdName'] }}
                    {% if session['householdRelation'] == 2 %}
                        <a href="{{ url_for("household_profile") }}" class="btn btn-lg">
                            <i class="fa fa-cog"></i>

                        </a>
                    {% endif %}
                    <a href="{{ url_for("household_select") }}" class="btn btn-lg">
                        <i class="fa fa-home"></i>
                    </a>

            </h1>
        </div>
        <div class="col-sm-3 headroom">
            <div class="text-right">
                {% if session['admin'] %}
                    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-default btn-sm"><i class="fa fa-cubes"></i> Admin</a>
                {% endif %}
                <a href="{{ url_for("user_profile") }}" class="btn btn-default btn-sm"><i class="fa fa-user"></i> {{ session['displayname'] }}</a>
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    {{ shared.flasher }}

    <div class="row">
        <div class="col-md-4">
            <div class="col-bezel">
                <h2>Activities</h2>

                <div class="bezelInnerContainer">
                    <a href="{{ url_for('dashboard') }}" class="btn btn-lg btn-default btn-block btn-text-left disabled"><i class="fa fa-bell-o fa-fw"></i> Alerts &amp; Reminders</a>
                    <p><span class="highlight-light">&mdash;</span> active alerts.</p>
                </div>

                <div class="bezelInnerContainer">
                    <a href="{{ url_for('billing_dashboard') }}" class="btn btn-lg btn-default btn-block btn-text-left"><i class="fa fa-money fa-fw"></i> Billing</a>
                    <p><span class="highlight-dark">$475.00</span> owed.</p>
                </div>

                <div class="bezelInnerContainer">
                    <a href="{{ url_for('billing_billsplit') }}" class="btn btn-lg btn-default btn-block btn-text-left disabled"><i class="fa fa-tablet fa-fw"></i> Connected Devices</a>
                    <p><span class="highlight-light">&mdash;</span> devices online.</p>
                    <p><span class="highlight-dark">&mdash;</span> devices offline.</p>
                </div>

                <div class="bezelInnerContainer">
                    <a href="{{ url_for('billing_billsplit') }}" class="btn btn-lg btn-default btn-block btn-text-left disabled"><i class="fa fa-list fa-fw"></i> Duties</a>
                    <p>Upcoming duties:</p>
                    <table>

                        <tr>
                            <td>
                                7:00 pm
                            </td>
                            <td>
                                Take out the doot
                            </td>
                        </tr>
                        <tr>
                            <td>
                                8:00 am
                            </td>
                            <td>
                                Bring in the doot
                            </td>
                        </tr>
                        <tr>
                            <td>
                                12:00am
                            </td>
                            <td>
                                Party
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-8">

            <div class="col-bezel">
            <h2><i class="fa fa-comment-o"></i> Whiteboard</h2>
                <p>A whiteboard for messages from this house goes here.</p>
            </div>


            <div class="col-bezel">
                <h2><i class="fa fa-users"></i> Members</h2>
                <p>The household member cards go here - click on them to send a message etc.</p>
            </div>
            <!--
            <div class="col-bezel">
                <h2><i class="fa fa-heartbeat"></i> Pulse</h2>
                <p>What is happening</p>
            </div>
            -->

        </div>
    </div>

</div>

{% endblock %}