<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="description"
          content="CuteCasa - the centralized home management system: rent payment/lease administration, IoT integration, maintenance reminders, dashboards, floorplans">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

    <!-- Icon font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <!-- User styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cutecasa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/floorplan.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">

    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>

    <!-- Bootstrap js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/shared.js') }}"></script>

    <title>CuteCasa</title>
</head>
<body>

{% import '_macros/_macros.html' as macros %}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>
</html>