<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="description"
          content="CuteCasa - the centralized home management system: rent payment/lease administration, IoT integration, maintenance reminders, dashboards">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Framework style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bin/bulma.css') }}">

    <!-- Icon font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <!-- User styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bin/cutecasa.css') }}">

    {% block styles %}
    {% endblock %}

    <!-- jQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>

    <!-- Custom js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bin/head.js') }}"></script>

    {% block scripts %}
    {% endblock %}

    <title>CuteCasa</title>
</head>
<body>

<script type="text/javascript">
    // Set across validation components and checked by submit components; if validation fails, don't let the user submit
    // the form without fixing the issues. Obviously we have server-side validation too. This is a list of all the ids
    // that failed to validate.
    // TODO: Actually implement checking for validation failures before submitting the page.
    var validationFailures = [];
</script>

{% import '_macros/common.html' as macros %}
{% import '_macros/components.html' as components %}

{% block header %}
{% endblock %}

{{ components.spinner_ajax() }}

{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>
</html>