<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="description"
          content="CuteCasa - the centralized home management system: rent payment/lease administration, IoT integration, maintenance reminders, dashboards, floorplans">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

    <!-- User styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cutecasa.css') }}">

    <!-- Bootstrap js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <title>CuteCasa</title>
</head>
<body>

<div class="container">
    {% block body %}
    {% endblock %}
</div>

</body>
</html>