{% extends "head.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block body %}

<div class="section">
    <div class="container">
        {{ macros.flasher() }}

        <div class="columns">
            <div class="column is-half">
                <h1 class="title">CuteCasa</h1>
                <h2 class="subtitle">Login with Facebook</h2>
            </div>
            <div class="column is-half">
                <h1 class="title">Too cool for school?</h1>
                <h2 class="subtitle">Login the regular way</h2>



                <form method="POST" action="{{ url_for('login') }}">
                        <label for="inputUsername" class="label">Username</label>
                        <p class="control">
                            <input class="input is-medium" type="text" id="inputUsername" name="inputUsername" autofocus>
                        </p>

                        <label for="inputPassword" class="label">Password</label>
                        <p class="control has-icon has-icon-right">
                            <input class="input is-medium" type="password" id="inputPassword" name="inputPassword">
                            <i class="fa fa-warning"></i>
                        </p>
                        <button class="button is-primary" type="submit">Login</button>
                        <a href="#">Register</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}