{% extends "head.html" %}
{% block body %}


<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 bezel">
            {% if g.dog.zdb.root.globalSettings.registrationEnabled %}
                <h2>Sign up for CuteCasa</h2>

                {{ macros.flasher() }}

                <form method="POST" action="{{ url_for('register') }}">
                    <div class="form-group">
                        <label for="inputUsername">
                            <h3>Username</h3>
                        </label>
                        <input type="text" id="inputUsername" name="inputUsername" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="registerEmail">
                            <h3>Email</h3>
                        </label>
                        <input type="email" id="registerEmail" name="registerEmail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">
                            <h3>Password</h3>
                        </label>
                        <input type="password" id="inputPassword" name="inputPassword" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control">Register</button>
                    </div>

                </form>
            {% else %}
                <h2>Registration is Disabled</h2>
                <p>Sorry, registration is currently disabled. Try again later!</p>
                <p>
                    <a href="{{ url_for('splash') }}" class="btn btn-default btn-block">Back</a>
                </p>
            {% endif %}
        </div>
        <div class="col-md-4">

        </div>
    </div>


</div>


{% endblock %}