{% extends "head.html" %}
{% block body %}


<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h2>Sign up for CuteCasa</h2>

            {% for m in get_flashed_messages() %}
                <p>{{ m }}</p>
            {% endfor %}

            <form method="POST" action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="registerUsername">
                        <h3>Username</h3>
                    </label>
                    <input type="text" id="registerUsername" name="registerUsername" class="form-control">
                </div>
                <div class="form-group">
                    <label for="registerPassword">
                        <h3>Password</h3>
                    </label>
                    <input type="password" id="registerPassword" name="registerPassword" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control">Login</button>
                </div>

            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>


</div>


{% endblock %}