<div class="footerDark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Made in Madison</h3>

                <p>
                    Madison, WI is the greatest place on earth.
                </p>
            </div>

            <div class="col-sm-3">
                <h3>Contact</h3>

                <p>
                    CuteCasa is a project by <a href="http://kersten.email">Alex Kersten</a>.
                </p>
            </div>

            <div class="col-sm-3">
                <h3>Links</h3>
                <ul>
                    <li><a href="http://alex.ink">Blog</a></li>
                    <li><a href="https://twitter.com/amkersten">Twitter</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h3>Legal</h3>

                <p>The CuteCasa software is open source, with no warranty expressed or implied.</p>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="http://cute.works">
                    <img src="{{ url_for('static', filename='img/cuteworks-emboss.png') }}"
                         alt="cuteworks" class="cuteworks-logo"/>
                </a>
            </div>
        </div>
    </div>
</div>