{% extends "layout.html" %}
{% block body %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>CuteCasa</h1>
        </div>
    </div>
</div>

<div class="jumbotron">
    <p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-default">Register</a>
    </p>
</div>

<div class="container">
<div class="row">
    <div class="col-md-12">
        <p>CuteCasa is a centralized home management system. Handle rent payment, lease administration, floorplans, and IoT integration all in one spot.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
</div>

{% endblock %}