{% extends "head.html" %}
{% block body %}


<div class="container">

    <div class="row bezel">
        <div class="col-sm-10">

            <h1>
                <a href="{{ url_for("dashboard") }}" class="btn btn-lg"><i class="fa fa-arrow-left"></i></a>

                <i class="fa fa-user"></i>&nbsp;&nbsp;
                {{ g.dog.me.displayname }}
            </h1>
        </div>
        <div class="col-sm-2 headroom">
            <div class="text-right">
                <a href="{{ url_for("logout") }}" class="btn btn-sm"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="col-bezel">
                <form method="POST" action="{{ url_for('user_profile') }}" class="form-horizontal">
                    <h2>User Profile</h2>

                    {{ shared.flasher() }}

                    <h3>Account Information</h3>

                    <div class="form-group">
                        <label class="control-label col-sm-4">Username</label>
                        <div class="col-sm-8">
                            <p>{{ session['username'] }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="displaynameInput" class="control-label col-sm-4">Display Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   id="displaynameInput" name="displaynameInput" value="{{ g.dog.me.displayname }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="emailInput" class="control-label col-sm-4">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control"
                                   id="emailInput" name="emailInput" value="{{ session['email'] }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Password</label>
                        <div class="col-sm-8">
                            <!-- <a href="#" class="btn btn-default btn-block">Change Password</a> -->
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="control-label col-sm-3">Subscription</label>
                        <div class="col-sm-9">
                            <p>1 Year</p>
                        </div>
                    </div>
                    -->

                    <h3>Contact Information</h3>
                    <div class="form-group">
                        <label for="cellInput" class="control-label col-sm-4">Cellphone</label>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control"
                                   id="cellInput" name="cellInput" value="{{ g.dog.me.cellphone }}" />
                            <p class="help-block">
                                For text alerts.
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="yoInput" class="control-label col-sm-4">Yo username</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   id="yoInput" name="yoInput" value="{{ g.dog.me.yoUsername }}" />
                            <p class="help-block">
                                For alerts.
                            </p>
                        </div>
                    </div>


                    <h3>Additional Information</h3>
                    <div class="form-group">
                        <label for="colorInput" class="control-label col-sm-4">Favorite color</label>
                        <div class="col-sm-8">
                            <input type="color" class="form-control"
                                   id="colorInput" name="colorInput" value="{{ g.dog.me.favoriteColor }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8 text-right">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}